{:paths ["src" "resources" "target"]

 :deps
 {org.clojure/clojure       {:mvn/version "1.9.0"}
  org.clojure/clojurescript {:mvn/version "1.10.439"}
  hodur/engine              {:mvn/version "0.1.2"}
  datascript                {:mvn/version "0.16.7"}
  com.bhauman/figwheel-main {:mvn/version "0.2.3"}}

 :aliases
 {:dev
  {:extra-deps
   {}}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-189"}}
   :main-opts ["-m" "kaocha.runner"]}}}
